<div class="main-panel">
  <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
      <a routerLink = "/dashboard"class="simple-text logo-normal">
        Smart Potager
       </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" routerLink = "/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item  " >
            <a class="nav-link"   routerLink = "/home">
              <i class="material-icons">content_paste</i>
              <p>Liste Utilisateurs</p>
            </a>
          </li>
        
          <li class="nav-item  " >
            <a class="nav-link"   routerLink = "/intervention">
              <i class="material-icons">post_add</i>
              <p>Intervention</p>
            </a>
          </li>
        </ul>
      </div>

  </div>

    <div class="content">
        <div class="container-fluid">
        
         


    
    
    <div class="page-content"  style="margin-top: -3%;">

<div class="edit-page">
  
    <nav aria-label="breadcrumb" style="margin-top:-1.5%;margin-bottom:-1%; margin-left:0%;">
        <ol class="breadcrumb" style=" background-color:transparent ;">
          <li>                  
              <a style="color: grey" routerLink = "/home" >Utilisateur</a> > <a style="color: grey" routerLink = "/home" >Modifier les cordonées de l'utilisateur</a>  
          </li>
        </ol>
      </nav>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page" >
          Détails Utilisateur 
          </li>
        </ol>
      </nav>
    <div class="page-content">

      <div class="row">
        
        <div class="col col-md-8">
  
          <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
  
            <div class="form-group" style="margin-top: -3.5%;">
              <mat-form-field class="input-style">
                <input matInput placeholder="Name" class="form-control" formControlName="name">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.name">
                <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
              </ng-container>
            </div>
  
            <div class="form-group"  style="margin-top: -3.5%;">
              <mat-form-field class="input-style">
                <input matInput placeholder="Surname" class="form-control" formControlName="surname">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.surname">
                <mat-error *ngIf="exampleForm.get('surname').hasError(validation.type) && (exampleForm.get('surname').dirty || exampleForm.get('surname').touched)">{{validation.message}}</mat-error>
              </ng-container>
            </div>

            <div class="form-group"  style="margin-top: -3.5%;">
              <mat-form-field class="input-style">
                <input matInput placeholder="Email" class="form-control" formControlName="email" [type]="'email'">
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.email">
                <mat-error *ngIf="exampleForm.get('email').hasError(validation.type) && (exampleForm.get('email').dirty || exampleForm.get('email').touched)">{{validation.message}}</mat-error>
              </ng-container>
            </div>

            <div class="form-group" style="margin-top: -3.5%;">
              <mat-form-field class="input-style">
                  <mat-label>Ville</mat-label>
                  <mat-select class="form-control" formControlName="ville">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let ville of villes" [value]="ville.value">{{ville.value}}</mat-option>
                  </mat-select>
                </mat-form-field> 
                <ng-container *ngFor="let validation of validation_messages.ville">
                  <mat-error *ngIf="exampleForm.get('ville').hasError(validation.type) && (exampleForm.get('ville').dirty || exampleForm.get('ville').touched)">{{validation.message}}</mat-error>
                </ng-container>    
          </div>

              <div class="form-group"  style="margin-top: -3.5%;">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Adresse" class="form-control" formControlName="adresse">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.adresse">
                  <mat-error *ngIf="exampleForm.get('adresse').hasError(validation.type) && (exampleForm.get('adresse').dirty || exampleForm.get('adresse').touched)">{{validation.message}}</mat-error>
                </ng-container>
              </div>
            
            <div class="form-group"  style="margin-top: -3.5%;">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Telephone" class="form-control" formControlName="telephone">
                </mat-form-field>
                <ng-container *ngFor="let validation of validation_messages.telephone">
                  <mat-error *ngIf="exampleForm.get('telephone').hasError(validation.type) && (exampleForm.get('telephone').dirty || exampleForm.get('telephone').touched)">{{validation.message}}</mat-error>
                </ng-container>
              </div>
  
              <div class="form-group"  style="margin-top: -3.5%;">
                  <mat-form-field class="input-style">
                    <input matInput placeholder="Mot de passe" class="form-control" formControlName="mdp" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
                  <ng-container *ngFor="let validation of validation_messages.mdp">
                    <mat-error *ngIf="exampleForm.get('mdp').hasError(validation.type) && (exampleForm.get('mdp').dirty || exampleForm.get('mdp').touched)">{{validation.message}}</mat-error>
                  </ng-container>
                </div>

            <div class="row submit-button-container"  style="margin-top: -3.5%;">
              <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Save</button>
              </div>
              <div class="col-md-4">
                <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
 

