.create-page {

    padding: 20px 60px;
  
    .page-content {
      background-color: #FFF;
  
      .img-avatar {
        border-radius: 50%;
        width: 150px;
        display: block;
        margin: 20px auto;
      }
  
      .change-img-button {
        display: block;
        margin: 0px auto;
      }
  
      .create-form {
        padding: 20px;
  
  
        .submit-button-container {
          justify-content: flex-end;
  
          .submit-button{
            width: 100%;
          }
        }
  
        .input-style{
          width: 100%;
        }
  
        .mat-error {
          font-size: 12px;
        }
      }
    }
  }
  

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }


  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 200%;
  }

  