<div class="main-panel">
<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a routerLink = "/dashboard"class="simple-text logo-normal">
      Smart Potager
     </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item  ">
        <a class="nav-link"  routerLink = "/dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  routerLink = "/compte" >
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item active " >
        <a class="nav-link"   routerLink = "/list">
          <i class="material-icons">content_paste</i>
          <p>Table List</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./typography.html">
          <i class="material-icons">library_books</i>
          <p>Typography</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./icons.html">
          <i class="material-icons">bubble_chart</i>
          <p>Icons</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./map.html">
          <i class="material-icons">location_ons</i>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./notifications.html">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./rtl.html">
          <i class="material-icons">language</i>
          <p>RTL Support</p>
        </a>
      </li>
      <li class="nav-item active-pro ">
        <a class="nav-link" href="./upgrade.html">
          <i class="material-icons">unarchive</i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title ">List Utilisateurs</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  
                  <thead class=" text-success">
                   
                    <th>
                      Name
                    </th>
                    <th>
                     Adresse
                    </th>
                    <th>
                      Age
                    </th>
                   
                  </thead>
                  <tbody *ngFor="let item of students">
                    <tr >
                      
                      <td>
                          {{item.Name}}
                      </td>
                      <td>
                          {{item.Address}}
                      </td>
                      <td>
                          {{item.Age}}
                      </td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Edit Task" class="btn btn-warning btn-link btn-sm" (click)="EditRecord(item)">
                            <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm" (click)="RemoveRecord(item.id)">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      <td>
                         
                      </td>
                    </tr>
                  </tbody>
                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  

                  <ng-template #elseBlock>
                      <tbody *ngFor="let item of students">
                          <tr  *ngIf="!item.isEdit; else elseBlock" >
                            <td>
                                {{item.Name}}
                            </td>
                            <td>
                                {{item.Address}}
                            </td>
                            <td>
                                {{item.Age}}
                            </td>
                            <td>
                                <a href="#" class="card-link" (click)="EditRecord(item)">Edit</a>
                                <a href="#" class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
                            </td>
                          </tr>
                        </tbody>
                  </ng-template>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      



      <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="searchRecord" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
              <div class="input-group-append">
                <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>
              </div>
            </div>
          </div>
          <div class="col-md-6 filter-by-age">
            <div class="row">
              <div class="col-md-auto title">
                <span>Filter by age (older than):</span>
              </div>
              <div class="col">
                <span>0 </span>
                <mat-slider
                  class="age-slider"
                  max="100"
                  min="0"
                  step="1"
                  thumbLabel="true"
                  (ngModel)="AgeValue"
                  (change)="rangeChange($event)">
                </mat-slider>
                <span> 100</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="list-group users-list">
          <div *ngFor="let item of  students" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
             
              <div class="col col-md-8 text-col">
                <h5 class="mb-1"> {{item.Name}} {{item.Address}}</h5>
                <small>Age: {{item.Age}}</small>
              </div>
              <div class="col col-md-2 actions-col">
                <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
                  <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        
      </div>





      

      
      