.breadcrumb li {
    display: inline;
  }
  .breadcrumb li+li:before {
    content: " > ";
    color: white;
  }
  .breadcrumb{
    background-color: #b1ebb4;
    padding: 20px;
    a{
      color: white;
    }
  }