
<div class="main-panel">
  <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
      <a routerLink = "/dashboard"class="simple-text logo-normal">
        Smart Potager
       </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
          <li class="nav-item   ">
              <a class="nav-link" routerLink = "/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item active " >
              <a class="nav-link"   routerLink = "/home">
                <i class="material-icons">content_paste</i>
                <p>Liste Utilisateurs</p>
              </a>
            </li>
          
            <li class="nav-item  " >
              <a class="nav-link"   routerLink = "/">
                <i class="material-icons">post_add</i>
                <p>Intervention</p>
              </a>
            </li>
   
      </ul>
    </div>
  </div>



  <div class="content">

    <div class="container-fluid"> 

    <div class="create-page" style="margin-top: -4.5%;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item active " aria-current="page">Ajouter Potager</li>
        </ol>
      </nav>
    
  <div class="page-content" >
    <div class="row">
        <div class="col col-md-12">


       
                <form id="form-potager" class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="addPotager(exampleForm.value)">

                    
                    <div id="form-potager-add" class="form-group col-md-12">
                      <!-- Nom Potager -->
                      <div class="form-group " >
                        <mat-form-field class="example-full-width" style="margin-top: -3.5%;">
                          <input matInput placeholder="Nom Potager" class="form-control" formControlName="namePotager" id="namePotager">
                        </mat-form-field>
                        <ng-container *ngFor="let validation of validation_messages.namePotager">
                          <mat-error *ngIf="exampleForm.get('namePotager').hasError(validation.type) && (exampleForm.get('namePotager').dirty || exampleForm.get('namePotager').touched)">{{validation.message}}</mat-error>
                        </ng-container> 
                      </div>

                      <!-- Description -->
                      <div class="form-group">
                        <mat-form-field class="example-full-width" style="margin-top: -3.5%;">
                          <input matInput placeholder="Description" class="form-control" formControlName="description">
                        </mat-form-field>
                         <ng-container *ngFor="let validation of validation_messages.surname">
                          <mat-error *ngIf="exampleForm.get('description').hasError(validation.type) && (exampleForm.get('description').dirty || exampleForm.get('description').touched)">{{validation.message}}</mat-error>
                        </ng-container> 
                     </div>
                 
                         <!-- orientation -->
                        <div class="form-group" style="margin-top: -3.5%;">
                          <mat-form-field  class="example-full-width" >
                            <mat-label>orientation</mat-label>
                            <mat-select  class="form-control" formControlName="orientation" >
                              <mat-option>None</mat-option>
                              <ng-container *ngFor="let orientation of orientations">
                                <mat-option value="{{orientation.value}}">{{orientation.value}}</mat-option>
                              </ng-container>
                            </mat-select>
                          </mat-form-field>
                          </div>

                        <!-- Surface -->
                        <div class="form-group" style="margin-top: -3.5%;">
                         <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="Surface" class="form-control" formControlName="surface">
                        </mat-form-field>
                        <ng-container *ngFor="let validation of validation_messages.surface">
                          <mat-error *ngIf="exampleForm.get('surface').hasError(validation.type) && (exampleForm.get('surface').dirty || exampleForm.get('surface').touched)">{{validation.message}}</mat-error>
                        </ng-container> 
                        </div>
                         <!-- Localisation -->
                        <div class="form-group" style="margin-top: -3.5%;">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text"  placeholder="Localisation" class="form-control" formControlName="localisation">
                        </mat-form-field>
                        <ng-container *ngFor="let validation of validation_messages.localisation">
                          <mat-error *ngIf="exampleForm.get('localisation').hasError(validation.type) && (exampleForm.get('localisation').dirty || exampleForm.get('localisation').touched)">{{validation.message}}</mat-error>
                        </ng-container> 
                      </div>
                      </div>
                     
                    <div id="createPotager" class="row submit-button-container" style="margin-top: -2%;">
                        <div class="col-md-4">
                          <button mat-raised-button class="submit-button" color="primary" type="submit" >Ajouter Potager</button>
                        </div>
                      </div>
                   
            
                    </form>
                    
        

      </div>
      
    </div>
  </div>
</div>
</div>
</div>


