<div class="main-panel">
    <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a routerLink = "/dashboard"class="simple-text logo-normal">
          Smart Potager
         </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link"  routerLink = "/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
        
          <li class="nav-item active " >
            <a class="nav-link"   routerLink = "/home">
              <i class="material-icons">content_paste</i>
              <p>Liste Utilisateurs</p>
            </a>
          </li>
      
          <li class="nav-item  " >
            <a class="nav-link"   routerLink = "/">
              <i class="material-icons">post_add</i>
              <p>Intervention</p>
            </a>
          </li>
        </ul>
      </div>
    </div>



    <div class="content">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active " aria-current="page" >
                      
                      <a class="nav-link" routerLink = "/home" >
                        <p>/ List Utilisateurs </p>
                      </a>
                  </li>
                </ol>
              </nav>
<div class="row">
	    
      
    <div class="col-md-12">
        <div class="card">
         
          <div class="card-header card-header-success">
            <h4 class="card-title ">List Utilisateurs</h4>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col col-md-3 text-col">
                    <button type="button" class="btn btn-success" (click)="openDialogAddUser()"  >
                        <i class="material-icons">person</i>  ajouter
                    </button>     
                </div>

                  <div class="col col-md-3 text-col">
                  <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
                    <div class="input-group-append">
                      <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>
                    </div>
                  </div>
                </div>
           
    
            </div>
            </div>
          

<div class="list-group users-list">
    <div  class="list-group-item list-group-item-action flex-column align-items-start" >
        <div class="row">
    <div class="col col-md-2 text-col">
     <h6>NOM PRENOM</h6>
    </div>
    <div class="col col-md-2 text-col">
        <h6>VILLE</h6>
      </div>
    <div class="col col-md-2 text-col">
        <h6> TELEPHONE</h6>
    </div>
    <div class="col col-md-2 text-col">
        <h6> NBR_POTAGER</h6>
    </div>
    <div class="col col-md-2 text-col">
      <h6> VOIR</h6>
    </div>
    </div>
    </div>
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
     
      <div class="col col-md-2 text-col">
        <h5 class="mb-1">{{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}</h5>
      </div>
      <div class="col col-md-2 text-col">
          <h5 class="mb-1"> {{item.payload.doc.data().ville}}</h5>
        </div>
        <div class="col col-md-2 text-col">
            <h5 class="mb-1"> {{item.payload.doc.data().telephone}}</h5>
          </div>
          <div class="col col-md-2 text-col">
              <h5 class="mb-1"> {{item.payload.doc.data().nbr_potager}}</h5>
            </div>
      <div class="col col-md-2 text-col">
        <button color="primary" class="btn btn-outline-success action" (click)="viewDetails(item)" type="button" >
          Details
        </button>
      </div>
        <div class="col col-md-2 text-col ">
        <button color="primary" class="btn btn-outline-success action" (click)="viewPotagers(item)" type="button" >
        Potagers
        </button>
      </div>
     
    </div>
  
  </div>
 
</div>
</div>
</div>
</div>
</div>
</div>





</div>




